.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #042e19;
}

h1 {
  margin: 30px;
  font-family: "Great Vibes ", cursive;
  text-shadow: 5px 0 #232931;
  font-size: 3.5rem;
  color: #0ccfd6;
}

p {
  font-size: 2rem;
  color: #0ccfd6;
  font-family: "roboto", cursive;
}

img {
  width: 60%;
}
.butn {
  background: #ec8b0b;
  font-family: "roboto", cursive;
  border-radius: 5px;
  color: #ffff;
  font-size: 20px;
  padding: 16px 25px 16px 25px;
  text-decoration: none;
}

.butn:hover {
  background: #232931;
  text-decoration: none;
}

footer {
  margin-top: 5%;
  color: #eeeeee;
  text-align: center;
  font-family: "Indie Flower", cursive;
}
